/.vscode/
/basicmod/
/blockmod/
/colormod/
/complexityMod/
/creatureSpawner/
/documentationmod/
/kickmod/
/position_rotation/
/spawnmod/
/spawnmodadv/
/trackmakermod/

/*/data_dynamic_willNotBeUploadedToWorkshop/

*.log
Documentation.lua
print_table.lua
.markdownlint.json